### Testing and Debugging

In [1]:
import pandas as pd

In [5]:
f1 = 'tmp/tmpzj5rix77.txt'
f2 = 'tmp/tmpdnvj3a73.txt'

In [6]:
df1 = pd.read_csv(f1, sep='\t')

In [9]:
df2 = pd.read_csv(f2, sep='\t')

In [10]:
df1.head()

,ID,REG,FOCUS,DSID,HAB_CO,HAB_FI,PRE_CO,PRE_FI,NPROJ,ACTION,COST,POST_CO,POST_FI
0,039Ats1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
1,039Bts1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
2,039Cts1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
3,039Dts1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
4,039Ets1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1

In [11]:
df2.head()

,ID,REG,FOCUS,DSID,HAB_CO,HAB_FI,PRE_CO,PRE_FI,NPROJ,ACTION,COST,POST_CO,POST_FI
0,10Ats1,Coquille,1,NaN,0.209886,0.459203,0.0,0,1.0,0,600000,1,1
1,13ts1,Coquille,1,NaN,0.224897,0.038366,0.0,0,1.0,0,600000,1,1
2,14ts1,Coquille,1,NaN,0.109816,0.097586,0.0,0,1.0,0,200000,1,1
3,15ts1,Coquille,1,NaN,0.042667,0.024545,0.0,0,1.0,0,300000,1,1
4,16ts1,Coquille,1,NaN,0.041924,0.010507,0.0,0,1.0,0,150000,1,1

In [17]:
b1 = set(df1[df1.REG == 'Coquille'].ID)
b2 = set(df2[df2.REG == 'Coquille'].ID)

In [18]:
b1 - b2

{'039Ats1', '039Bts1', '039Cts1', '039Dts1', '039Ets1'}

In [19]:
b2 - b1

{'10Bts1',
 '12Cts1',
 '24894fs1',
 '3638fs1',
 '3639fs1',
 '36Bts1',
 '36Cts1',
 '39Ats1',
 '39Bts1',
 '39Cts1',
 '39Dts1',
 '39Ets1',
 '61Ats1',
 '61Cts1',
 '8435fs1'}

In [22]:
list(df1.columns) == list(df2.columns)

True

In [25]:
! head -2 tmp/tmpzj5rix77.txt | od -t x1 -c

0000000    49  44  09  52  45  47  09  46  4f  43  55  53  09  44  53  49
           I   D  \t   R   E   G  \t   F   O   C   U   S  \t   D   S   I
0000020    44  09  48  41  42  5f  43  4f  09  48  41  42  5f  46  49  09
           D  \t   H   A   B   _   C   O  \t   H   A   B   _   F   I  \t
0000040    50  52  45  5f  43  4f  09  50  52  45  5f  46  49  09  4e  50
           P   R   E   _   C   O  \t   P   R   E   _   F   I  \t   N   P
0000060    52  4f  4a  09  41  43  54  49  4f  4e  09  43  4f  53  54  09
           R   O   J  \t   A   C   T   I   O   N  \t   C   O   S   T  \t
0000100    50  4f  53  54  5f  43  4f  09  50  4f  53  54  5f  46  49  0a
           P   O   S   T   _   C   O  \t   P   O   S   T   _   F   I  \n
0000120    30  33  39  41  74  73  31  09  43  6f  71  75  69  6c  6c  65
           0   3   9   A   t   s   1  \t   C   o   q   u   i   l   l   e
0000140    09  31  09  4e  41  09  30  2e  30  09  30  2e  30  09  30  2e
          \t   1  \t   N   A  \t   0   .   0  \t   0   .   0  \t   0   .
0000160    30  09  30  09  30  09  30  09  30  09  31  09  31  0a
           0  \t   0  \t   0  \t   0  \t   0  \t   1  \t   1  \n
0000176

In [26]:
! head -2 tmp/tmpdnvj3a73.txt | od -t x1 -c

0000000    49  44  09  52  45  47  09  46  4f  43  55  53  09  44  53  49
           I   D  \t   R   E   G  \t   F   O   C   U   S  \t   D   S   I
0000020    44  09  48  41  42  5f  43  4f  09  48  41  42  5f  46  49  09
           D  \t   H   A   B   _   C   O  \t   H   A   B   _   F   I  \t
0000040    50  52  45  5f  43  4f  09  50  52  45  5f  46  49  09  4e  50
           P   R   E   _   C   O  \t   P   R   E   _   F   I  \t   N   P
0000060    52  4f  4a  09  41  43  54  49  4f  4e  09  43  4f  53  54  09
           R   O   J  \t   A   C   T   I   O   N  \t   C   O   S   T  \t
0000100    50  4f  53  54  5f  43  4f  09  50  4f  53  54  5f  46  49  0a
           P   O   S   T   _   C   O  \t   P   O   S   T   _   F   I  \n
0000120    31  30  41  74  73  31  09  43  6f  71  75  69  6c  6c  65  09
           1   0   A   t   s   1  \t   C   o   q   u   i   l   l   e  \t
0000140    31  09  4e  41  09  30  2e  32  30  39  38  38  36  32  32  32
           1  \t   N   A  \t   0   .   2   0   9   8   8   6   2   2   2
0000160    09  30  2e  34  35  39  32  30  32  37  30  39  09  30  2e  30
          \t   0   .   4   5   9   2   0   2   7   0   9  \t   0   .   0
0000200    09  30  09  31  2e  30  09  30  09  36  30  30  30  30  30  09
          \t   0  \t   1   .   0  \t   0  \t   6   0   0   0   0   0  \t
0000220    31  09  31  0a
           1  \t   1  \n
0000224

In [27]:
! head -2 tmp/tmpzj5rix77.txt

ID	REG	FOCUS	DSID	HAB_CO	HAB_FI	PRE_CO	PRE_FI	NPROJ	ACTION	COST	POST_CO	POST_FI
039Ats1	Coquille	1	NA	0.0	0.0	0.0	0	0	0	0	1	1

In [29]:
! head -2 tmp/tmpdnvj3a73.txt

ID	REG	FOCUS	DSID	HAB_CO	HAB_FI	PRE_CO	PRE_FI	NPROJ	ACTION	COST	POST_CO	POST_FI
10Ats1	Coquille	1	NA	0.209886222	0.459202709	0.0	0	1.0	0	600000	1	1

In [33]:
coq1 = df1[df1.REG == 'Coquille']
coq2 = df2[df2.REG == 'Coquille']

In [34]:
coq1.COST.sum()

13545000

In [35]:
coq2.COST.sum()

11800000

In [36]:
for col in ['NPROJ', 'ACTION', 'POST_CO', 'POST_FI']:
    print(col, coq1[col].sum(), coq2[col].sum())

NPROJ 38 42.0
ACTION 0 0
POST_CO 127 137
POST_FI 127 137

In [37]:
len(coq1), len(coq2)

(127, 137)

In [38]:
coq1['NPROJ'][:10]

/var/folders/41/8svs4vl53fd18dsr7qz4sc9c0000gn/T/ipykernel_49438/4112741176.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  coq1['NPROJ'][:10]

0     0
1     0
2     0
3     0
4     0
6     0
8     1
13    0
15    0
16    0
Name: NPROJ, dtype: int64

In [39]:
coq2['NPROJ'][:10]

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: NPROJ, dtype: float64