### Testing and Debugging

In [1]:
import pandas as pd
import numpy as np

### Data File

In [ ]:
data = pd.read_csv('../static/workbook.csv')

In [ ]:
len(data)

In [ ]:
data.columns

### Why is the Smith River region causing problems?

In [ ]:
sf = data[data.REGION == 'Smith'][['BARID','REGION','DSID','NPROJ','COST','BarrierType','Name','PrimaryTG','DominantTG','Exclude_Reason']]

In [ ]:
sf

In [ ]:
filtered = data[data.REGION == 'Smith']
filtered.index = list(range(len(filtered)))

In [ ]:
df = filtered[['BARID','REGION']]
df.head()

In [ ]:
df = pd.concat([df, pd.Series(np.ones(len(filtered)), name='FOCUS', dtype=int)], axis=1)
df.head()

In [ ]:
df = pd.concat([df, filtered['DSID']], axis=1)
df.head()

In [ ]:
df = pd.concat([df, filtered['NPROJ']], axis=1)
df.head()

In [ ]:
df = pd.concat([df, filtered['COST']], axis=1)
df.head()

In [ ]:
data[data.NPROJ != 1]

In [ ]:
data[data.NPROJ == 0]

In [ ]:
len(data[data.COST == 0])

### Barrier Files

In [ ]:
f1 = '../tmp/tmpzj5rix77.txt'
f2 = '../tmp/tmpdnvj3a73.txt'

In [ ]:
df1 = pd.read_csv(f1, sep='\t')

In [ ]:
df2 = pd.read_csv(f2, sep='\t')

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
b1 = set(df1[df1.REG == 'Coquille'].ID)
b2 = set(df2[df2.REG == 'Coquille'].ID)

In [ ]:
b1 - b2

In [ ]:
b2 - b1

In [ ]:
list(df1.columns) == list(df2.columns)

In [ ]:
! head -2 ../tmp/tmpzj5rix77.txt | od -t x1 -c

In [ ]:
! head -2 ../tmp/tmpdnvj3a73.txt | od -t x1 -c

In [ ]:
! head -2 ../tmp/tmpzj5rix77.txt

In [ ]:
! head -2 ../tmp/tmpdnvj3a73.txt

In [ ]:
coq1 = df1[df1.REG == 'Coquille']
coq2 = df2[df2.REG == 'Coquille']

In [ ]:
coq1.COST.sum()

In [ ]:
coq2.COST.sum()

In [ ]:
for col in ['NPROJ', 'ACTION', 'POST_CO', 'POST_FI']:
    print(col, coq1[col].sum(), coq2[col].sum())

In [ ]:
len(coq1), len(coq2)

In [ ]:
coq1['NPROJ'][:10]

In [ ]:
coq2['NPROJ'][:10]

In [ ]:
import panel as pn
pn.extension()

In [ ]:
t1 = pn.pane.HTML('<p>One</p>', name='1')
t2 = pn.pane.HTML('<p>Two</p>', name='2')
t3 = pn.pane.HTML('<p>Three</p>', name='3')

In [ ]:
t = pn.Tabs(t1,t2,t3)

In [ ]:
t

In [19]:
t[1]

BokehModel(combine_events=True, render_bundle={'docs_json': {'e9e228ba-c040-44ba-abe7-e63f69c4198b': {'defs': â€¦

In [ ]:
len(t)

### Summarizing Outputs

This CSV file was printed at the end of `collect_outputs`, shows the state of the main data frame (`self.summary`).

In [3]:
df = pd.read_csv('../tmp/summary.csv')

In [4]:
df.head()

,Unnamed: 0,budget,habitat,gates,CO,FI,netgain
0,0,0.0,0.0000,[],40.131239,0.000000,0.0000
1,1,500000.0,0.7696,"['13ts5', '14ts5', '5ts6', '7ts6']",42.565652,329.131828,0.7696
2,2,1000000.0,1.0920,"['1ts5', '13ts5', '14ts5', '5ts6', '7ts6', '12...",45.386841,779.275459,1.0920
3,3,1500000.0,1.3899,"['1ts5', '7ts5', '9ts5', '13ts5', '14ts5', '5t...",46.143001,1079.938606,1.3899
4,4,2000000.0,1.6319,"['1ts5', '7ts5', '9ts5', '13ts5', '14ts5', '5t...",49.754747,1198.249104,1.6319

In [11]:
for i in df.index:
    print(i, type(df.gates[i]))

0 <class 'str'>
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>