### Testing and Debugging

In [1]:
import pandas as pd
import numpy as np

### Data File

In [2]:
data = pd.read_csv('../static/workbook.csv')

In [3]:
len(data)

1004

In [4]:
data.columns

Index(['BARID', 'REGION', 'DSID', 'NPROJ', 'COST', 'PREPASS_CO', 'PREPASS_CH',
       'PREPASS_ST', 'PREPASS_CT', 'PREPASS_CU', 'PREPASS_AgrInf',
       'PREPASS_Inund', 'POSTPASS', 'sCO', 'sCH', 'sST', 'sCT', 'sCU',
       'sAgri_Current', 'sRoadRail_Current', 'sInundHab_Current',
       'sBuilding_Current', 'sPublicUse_Current', 'sAgri_Future',
       'sRoadRail_Future', 'sInundHab_Future', 'sBuilding_Future',
       'sPublicUse_Future', 'Coho_salmon', 'Chinook_salmon', 'Steelhead',
       'Cutthroat_Trout', 'Chum', 'Agri_Current', 'RoadRail_Current',
       'InundHab_Current', 'Building_Current', 'PublicUse_Current',
       'Agri_Future', 'RoadRail_Future', 'InundHab_Future', 'Building_Future',
       'PublicUse_Future', 'BarrierType', 'Name', 'PrimaryTG', 'DominantTG',
       'Exclude_Reason', 'POINT_X', 'POINT_Y'],
      dtype='object')

### Why is the Smith River region causing problems?

In [5]:
sf = data[data.REGION == 'Smith'][['BARID','REGION','DSID','NPROJ','COST','BarrierType','Name','PrimaryTG','DominantTG','Exclude_Reason']]

In [6]:
sf

,BARID,REGION,DSID,NPROJ,COST,BarrierType,Name,PrimaryTG,DominantTG,Exclude_Reason
429,1ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
430,2ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
431,3ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
432,4ts6,Smith,NaN,1,300000,Tide gate,Glover,1,0,NaN
433,5ts6,Smith,NaN,1,150000,Tide gate,NaN,1,0,NaN
434,6ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
435,7ts6,Smith,NaN,1,150000,Tide gate,NaN,1,0,NaN
436,8ts6,Smith,NaN,1,60000,Tide gate,Baumgartner,1,0,NaN
437,9ts6,Smith,NaN,1,300000,Tide gate,Koepke Slough,1,0,NaN
438,10ts6,Smith,NaN,1,450000,Tide gate,NaN,1,0,NaN
439,11ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
440,12ts6,Smith,NaN,1,200000,Tide gate,Peck,1,0,NaN
441,13ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
442,14ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
443,15ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
444,16ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
445,17ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
446,18ts6,Smith,NaN,1,60000,Tide gate,NaN,1,0,NaN
447,19ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
448,20ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
449,21ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
450,22ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
451,23ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
452,24ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
453,25ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
454,26ts6,Smith,NaN,1,60000,Tide gate,NaN,1,0,NaN
455,27ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
456,28ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
457,29ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
458,30ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
459,31ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
460,32ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
461,33ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
462,34ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
463,35ts6,Smith,NaN,1,150000,Tide gate,NaN,1,0,NaN
464,36ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
465,37ts6,Smith,NaN,1,150000,Tide gate,NaN,1,0,NaN
466,38ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
467,39ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
468,40ts6,Smith,NaN,1,150000,Tide gate,NaN,1,0,NaN
469,41ts6,Smith,NaN,1,60000,Tide gate,NaN,1,0,NaN
470,42ts6,Smith,NaN,1,200000,Tide gate,NaN,1,0,NaN
471,43ts6,Smith,NaN,1,85000,Tide gate,NaN,1,0,NaN
472,44ts6,Smith,NaN,1,0,Tide gate,NaN,0,0,Non-primary tide gate
473,3568fs6,Smith,4ts6,1,150000,Upstream,NaN,0,0,NaN
474,3569fs6,Smith,42ts6,1,150000,Upstream,NaN,0,0,NaN
475,3945fs6,Smith,4ts6,1,75000,Upstream,NaN,0,0,NaN
476,7406fs6,Smith,42ts6,1,150000,Upstream,NaN,0,0,NaN
477,28684fs6,Smith,10ts6,1,75000,Upstream,NaN,0,0,NaN
478,28685fs6,Smith,10ts6,1,300000,Upstream,NaN,0,0,NaN
479,28686fs6,Smith,28685fs6,1,150000,Upstream,NaN,0,0,NaN
480,28687fs6,Smith,28686fs6,1,150000,Upstream,NaN,0,0,NaN

In [31]:
filtered = data[data.REGION == 'Smith']
filtered.index = list(range(len(filtered)))

In [32]:
df = filtered[['BARID','REGION']]
df.head()

  BARID REGION
0  1ts6  Smith
1  2ts6  Smith
2  3ts6  Smith
3  4ts6  Smith
4  5ts6  Smith

In [33]:
df = pd.concat([df, pd.Series(np.ones(len(filtered)), name='FOCUS', dtype=int)], axis=1)
df.head()

  BARID REGION  FOCUS
0  1ts6  Smith      1
1  2ts6  Smith      1
2  3ts6  Smith      1
3  4ts6  Smith      1
4  5ts6  Smith      1

In [34]:
df = pd.concat([df, filtered['DSID']], axis=1)
df.head()

  BARID REGION  FOCUS DSID
0  1ts6  Smith      1  NaN
1  2ts6  Smith      1  NaN
2  3ts6  Smith      1  NaN
3  4ts6  Smith      1  NaN
4  5ts6  Smith      1  NaN

In [35]:
df = pd.concat([df, filtered['NPROJ']], axis=1)
df.head()

  BARID REGION  FOCUS DSID  NPROJ
0  1ts6  Smith      1  NaN      1
1  2ts6  Smith      1  NaN      1
2  3ts6  Smith      1  NaN      1
3  4ts6  Smith      1  NaN      1
4  5ts6  Smith      1  NaN      1

In [36]:
df = pd.concat([df, filtered['COST']], axis=1)
df.head()

  BARID REGION  FOCUS DSID  NPROJ    COST
0  1ts6  Smith      1  NaN      1       0
1  2ts6  Smith      1  NaN      1       0
2  3ts6  Smith      1  NaN      1       0
3  4ts6  Smith      1  NaN      1  300000
4  5ts6  Smith      1  NaN      1  150000

In [27]:
data[data.NPROJ != 1]

,BARID,REGION,DSID,NPROJ,COST,PREPASS_CO,PREPASS_CH,PREPASS_ST,PREPASS_CT,PREPASS_CU,...,InundHab_Future,Building_Future,PublicUse_Future,BarrierType,Name,PrimaryTG,DominantTG,Exclude_Reason,POINT_X,POINT_Y
2,3ts4,"Neskowin, Nestucca, Sand Lake",NaN,0,60000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,1,0,NaN,-123.941005,45.162735
45,20ts2,Coos,NaN,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.158713,43.317524
48,23ts2,Coos,NaN,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.215703,43.256163
50,25ts2,Coos,22ts2,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.214101,43.252560
55,30ts2,Coos,NaN,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.160747,43.340982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,24711fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.873842,46.093523
998,24730fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.874059,46.085645
999,24816fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.874329,46.096206
1000,24948fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.873642,46.092948
1001,24716fs11,Columbia,NaN,0,150000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.874472,46.083656

In [28]:
data[data.NPROJ == 0]

,BARID,REGION,DSID,NPROJ,COST,PREPASS_CO,PREPASS_CH,PREPASS_ST,PREPASS_CT,PREPASS_CU,...,InundHab_Future,Building_Future,PublicUse_Future,BarrierType,Name,PrimaryTG,DominantTG,Exclude_Reason,POINT_X,POINT_Y
2,3ts4,"Neskowin, Nestucca, Sand Lake",NaN,0,60000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,1,0,NaN,-123.941005,45.162735
45,20ts2,Coos,NaN,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.158713,43.317524
48,23ts2,Coos,NaN,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.215703,43.256163
50,25ts2,Coos,22ts2,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.214101,43.252560
55,30ts2,Coos,NaN,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Tide gate,NaN,0,0,Non-primary,-124.160747,43.340982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,24711fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.873842,46.093523
998,24730fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.874059,46.085645
999,24816fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.874329,46.096206
1000,24948fs11,Columbia,NaN,0,75000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.873642,46.092948
1001,24716fs11,Columbia,NaN,0,150000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,Upstream,NaN,0,0,None,-123.874472,46.083656

In [30]:
len(data[data.COST == 0])

255

### Barrier Files

In [7]:
f1 = '../tmp/tmpzj5rix77.txt'
f2 = '../tmp/tmpdnvj3a73.txt'

In [8]:
df1 = pd.read_csv(f1, sep='\t')

In [9]:
df2 = pd.read_csv(f2, sep='\t')

In [10]:
df1.head()

,ID,REG,FOCUS,DSID,HAB_CO,HAB_FI,PRE_CO,PRE_FI,NPROJ,ACTION,COST,POST_CO,POST_FI
0,039Ats1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
1,039Bts1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
2,039Cts1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
3,039Dts1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1
4,039Ets1,Coquille,1,NaN,0.0,0.0,0.0,0,0,0,0,1,1

In [11]:
df2.head()

,ID,REG,FOCUS,DSID,HAB_CO,HAB_FI,PRE_CO,PRE_FI,NPROJ,ACTION,COST,POST_CO,POST_FI
0,10Ats1,Coquille,1,NaN,0.209886,0.459203,0.0,0,1.0,0,600000,1,1
1,13ts1,Coquille,1,NaN,0.224897,0.038366,0.0,0,1.0,0,600000,1,1
2,14ts1,Coquille,1,NaN,0.109816,0.097586,0.0,0,1.0,0,200000,1,1
3,15ts1,Coquille,1,NaN,0.042667,0.024545,0.0,0,1.0,0,300000,1,1
4,16ts1,Coquille,1,NaN,0.041924,0.010507,0.0,0,1.0,0,150000,1,1

In [12]:
b1 = set(df1[df1.REG == 'Coquille'].ID)
b2 = set(df2[df2.REG == 'Coquille'].ID)

In [13]:
b1 - b2

{'039Ats1', '039Bts1', '039Cts1', '039Dts1', '039Ets1'}

In [14]:
b2 - b1

{'10Bts1',
 '12Cts1',
 '24894fs1',
 '3638fs1',
 '3639fs1',
 '36Bts1',
 '36Cts1',
 '39Ats1',
 '39Bts1',
 '39Cts1',
 '39Dts1',
 '39Ets1',
 '61Ats1',
 '61Cts1',
 '8435fs1'}

In [15]:
list(df1.columns) == list(df2.columns)

True

In [17]:
! head -2 ../tmp/tmpzj5rix77.txt | od -t x1 -c

0000000    49  44  09  52  45  47  09  46  4f  43  55  53  09  44  53  49
           I   D  \t   R   E   G  \t   F   O   C   U   S  \t   D   S   I
0000020    44  09  48  41  42  5f  43  4f  09  48  41  42  5f  46  49  09
           D  \t   H   A   B   _   C   O  \t   H   A   B   _   F   I  \t
0000040    50  52  45  5f  43  4f  09  50  52  45  5f  46  49  09  4e  50
           P   R   E   _   C   O  \t   P   R   E   _   F   I  \t   N   P
0000060    52  4f  4a  09  41  43  54  49  4f  4e  09  43  4f  53  54  09
           R   O   J  \t   A   C   T   I   O   N  \t   C   O   S   T  \t
0000100    50  4f  53  54  5f  43  4f  09  50  4f  53  54  5f  46  49  0a
           P   O   S   T   _   C   O  \t   P   O   S   T   _   F   I  \n
0000120    30  33  39  41  74  73  31  09  43  6f  71  75  69  6c  6c  65
           0   3   9   A   t   s   1  \t   C   o   q   u   i   l   l   e
0000140    09  31  09  4e  41  09  30  2e  30  09  30  2e  30  09  30  2e
          \t   1  \t   N   A  \t   0   .   0  \t   0   .   0  \t   0   .
0000160    30  09  30  09  30  09  30  09  30  09  31  09  31  0a
           0  \t   0  \t   0  \t   0  \t   0  \t   1  \t   1  \n
0000176

In [18]:
! head -2 ../tmp/tmpdnvj3a73.txt | od -t x1 -c

0000000    49  44  09  52  45  47  09  46  4f  43  55  53  09  44  53  49
           I   D  \t   R   E   G  \t   F   O   C   U   S  \t   D   S   I
0000020    44  09  48  41  42  5f  43  4f  09  48  41  42  5f  46  49  09
           D  \t   H   A   B   _   C   O  \t   H   A   B   _   F   I  \t
0000040    50  52  45  5f  43  4f  09  50  52  45  5f  46  49  09  4e  50
           P   R   E   _   C   O  \t   P   R   E   _   F   I  \t   N   P
0000060    52  4f  4a  09  41  43  54  49  4f  4e  09  43  4f  53  54  09
           R   O   J  \t   A   C   T   I   O   N  \t   C   O   S   T  \t
0000100    50  4f  53  54  5f  43  4f  09  50  4f  53  54  5f  46  49  0a
           P   O   S   T   _   C   O  \t   P   O   S   T   _   F   I  \n
0000120    31  30  41  74  73  31  09  43  6f  71  75  69  6c  6c  65  09
           1   0   A   t   s   1  \t   C   o   q   u   i   l   l   e  \t
0000140    31  09  4e  41  09  30  2e  32  30  39  38  38  36  32  32  32
           1  \t   N   A  \t   0   .   2   0   9   8   8   6   2   2   2
0000160    09  30  2e  34  35  39  32  30  32  37  30  39  09  30  2e  30
          \t   0   .   4   5   9   2   0   2   7   0   9  \t   0   .   0
0000200    09  30  09  31  09  30  09  36  30  30  30  30  30  09  31  09
          \t   0  \t   1  \t   0  \t   6   0   0   0   0   0  \t   1  \t
0000220    31  0a
           1  \n
0000222

In [19]:
! head -2 ../tmp/tmpzj5rix77.txt

ID	REG	FOCUS	DSID	HAB_CO	HAB_FI	PRE_CO	PRE_FI	NPROJ	ACTION	COST	POST_CO	POST_FI
039Ats1	Coquille	1	NA	0.0	0.0	0.0	0	0	0	0	1	1

In [20]:
! head -2 ../tmp/tmpdnvj3a73.txt

ID	REG	FOCUS	DSID	HAB_CO	HAB_FI	PRE_CO	PRE_FI	NPROJ	ACTION	COST	POST_CO	POST_FI
10Ats1	Coquille	1	NA	0.209886222	0.459202709	0.0	0	1	0	600000	1	1

In [21]:
coq1 = df1[df1.REG == 'Coquille']
coq2 = df2[df2.REG == 'Coquille']

In [24]:
coq1.COST.sum()

13545000

In [25]:
coq2.COST.sum()

11800000

In [26]:
for col in ['NPROJ', 'ACTION', 'POST_CO', 'POST_FI']:
    print(col, coq1[col].sum(), coq2[col].sum())

NPROJ 38 42.0
ACTION 0 0
POST_CO 127 137
POST_FI 127 137

In [27]:
len(coq1), len(coq2)

(127, 137)

In [28]:
coq1['NPROJ'][:10]

/var/folders/x_/69lnc94x77g6b_w8g68rnty40000gn/T/ipykernel_99842/4112741176.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  coq1['NPROJ'][:10]

0     0
1     0
2     0
3     0
4     0
6     0
8     1
13    0
15    0
16    0
Name: NPROJ, dtype: int64

In [29]:
coq2['NPROJ'][:10]

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: NPROJ, dtype: float64